.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#page-title {
    flex-grow: 3;
}

.verified-toolbar {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logout-btn, #upload-btn {
    margin:0;
    padding: 0;
    width:120px;
    height:40px;
}
/*
 * file upload elements
 */
input[type=file] {
    display:none;
}
/*
 * label that replaces the file input
 */
#select-picture {
    display:flex;
    align-items: center;
    justify-content: center;
    width:120px;
    height:40px;
    font-size: 16px;
    border: 1px solid #f9f9f9;
    cursor: pointer;
}
